<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.huaxu.minimybatis.test.dao.UserMapper">

    <select id="getUser" resultType="com.huaxu.minimybatis.test.pojo.User">
        select * from user where id = #{id}
    </select>

    <select id="getAll" resultType="com.huaxu.minimybatis.test.pojo.User">
        select * from user
    </select>

    <update id="updateUser">
        update user set name = '张三2' where id = #{id}
    </update>

    <insert id="addUser" parameteType="com.huaxu.minimybatis.test.pojo.User">
        INSERT INTO user ( name ) VALUES ( #{user.name} )
    </insert>

    <insert id="addUserName">
        insert into user values (#{name})
    </insert>

</mapper>